<footer class="footer">
  <div class="content has-text-centered">
  	<p>Made with <i class="fas fa-heart" style="color: #f04152;"></i> by <a href="https://sammy.is-a.dev">TorchedSammy</a>.</p>
  </div>
</footer>
