<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ title }} | Bon</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="canonical" href="https://moderntemplate.site/" />
<link rel="icon" type="image/png" href="./img/icons/64x64.png" />

<!-- General -->
<meta name="application-name" content="HTML Template" />
<meta name="author" content="Igor Agapov" />
<meta name="description" content="Modern HTML Starter Template" />
<meta
name="keywords"
content="modern, useful, html, html5, css, css3, javascript, js, template, boilerplate"
/>
<meta name="referrer" content="strict-origin" />

<meta itemprop="name" content="HTML Template" />
<meta itemprop="description" content="Modern HTML Starter Template" />
<meta itemprop="image" content="./img/icons/128x128.png" />

<!-- Microsoft -->
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="msapplication-starturl" content="/" />
<meta name="msapplication-tooltip" content="Modern HTML Starter Template" />
<meta name="msapplication-TileColor" content="#3c3c3c" />
<meta name="msapplication-config" content="browserconfig.xml" />

<!-- Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://moderntemplate.site/" />
<meta property="og:title" content="HTML Template" />
<meta property="og:description" content="Modern HTML Starter Template" />
<meta property="og:image" content="./img/icons/600x600.png" />
<meta property="og:locale" content="en_US" />

<!-- Twitter -->
<meta name="twitter:card" content="app" />
<meta name="twitter:title" content="HTML Template" />
<meta name="twitter:description" content="Modern HTML Starter Template" />
<meta name="twitter:url" content="https://moderntemplate.site/" />
<meta name="twitter:image" content="./img/icons/512x512.png" />

<!-- iOS -->
<meta name="apple-mobile-web-app-title" content="HTML Template" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="#3c3c3c" />
<link rel="apple-touch-icon" href="./img/icons/512x512.png" />

<!-- Android -->
<meta name="theme-color" content="#f0f0f0" />
<meta name="color-scheme" content="light" />
<meta name="mobile-web-app-capable" content="yes" />
