<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ title }} | Bon</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<!--<link rel="canonical" href="" /> -->
<!-- <link rel="icon" type="image/png" href="" /> -->

<meta name="application-name" content="Bon" />
<meta name="author" content="TorchedSammy" />
<meta name="description" content="ðŸ® A small, simple URL shortener." />
<meta
name="keywords"
content="go, golang, handlebars, url-shortener"
/>
<meta name="referrer" content="strict-origin" />

<meta itemprop="name" content="Bon" />
<meta itemprop="description" content="ðŸ® A small, simple URL shortener." />
<!-- <meta itemprop="image" content="./img/icons/128x128.png" /> -->

<!-- Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:title" content="Bon" />
<meta property="og:description" content="ðŸ® A small, simple URL shortener." />
<!-- <meta property="og:image" content="./img/icons/600x600.png" /> -->
<meta property="og:locale" content="en_US" />

<!-- Twitter -->
<meta name="twitter:card" content="app" />
<meta name="twitter:title" content="Bon" />
<meta name="twitter:description" content="ðŸ® A small, simple URL shortener." />
<meta name="twitter:url" content="" />
<meta name="twitter:image" content="./img/icons/512x512.png" />

<meta name="apple-mobile-web-app-title" content="Bon" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="#3c3c3c" />
<!-- <link rel="apple-touch-icon" href="./img/icons/512x512.png" />

<!-- <meta name="theme-color" content="#f0f0f0" /> -->
<meta name="color-scheme" content="dark" />
<meta name="mobile-web-app-capable" content="yes" />
