<!DOCTYPE html>
<html>
	<head>
		{{> 'partials/head' }}
	</head>
	<body>
	<script>
		function showURL(shorened) {
			const target = document.getElementById('linkbox').value
			const xhr = new XMLHttpRequest();

			xhr.open("POST", "/api/new", true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify({
				url: target
			}));

			xhr.onload = function() {
				const sid = JSON.parse(this.responseText).id
				document.getElementById('linkbox').setAttribute('readonly', '');
				document.getElementById('linkbox').value = window.location.href + sid
			}
		}
	</script>
	<section class="section">
		<div class="container">
			<h1 class="title">Bon {{version}}</h1>
			<p class="subtitle">🍮 A small, simple URL shortener.</p>
			<nav class="level">
				<input name="url" id="linkbox" class="input mr-4 is-rounded is-medium" type="text" placeholder="Enter URL..">
				<button class="button is-primary is-rounded is-medium" onclick="showURL()">Shorten!</button>
			</nav>
		</div>
	</section>
	<style>
		body {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
		}

		section {
			flex-grow: 1;
		}
	</style>
	{{> 'partials/footer' }}
	</body>
</html>
